{% extends 'layout/base_template.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    {% include 'partials/hero.html' %}

    <!-- ======= Main ======= -->
    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <!-- <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                      <img src="assets/img/about.jpg" class="img-fluid" alt="">
                    </div> -->
                    <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content text-center" data-aos="fade-right"
                         data-aos-delay="100">
                        <h3>About Politrack Africa.</h3><br>
                        <p class="fst-italic">
                            Politrack Africa is a private limited company incorporated under the
                            Companies Act 2015. The company specializes in gathering and analyzing data
                            to provide economic, social and political insights or solutions to various
                            industries and clients. Our company is staffed with highly skilled and competent
                            professionals with high level experience in the fields of statistics, data
                            analysis, and market research.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Services Section ======= -->
        <section id="service" class="services">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 ">
                        <div class="section-title">
                            <h2>Our Vision</h2>
                        </div>

                        <div>
                            <div class="col-lg-8 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
                                 data-aos-delay="100">
                                <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                                     data-aos-delay="100">
                                    <p class="fst-italic">
                                        To be a leading research and survey company, recognized for
                                        our exceptional quality and insightful analysis, enabling our
                                        clients to make informed decisions that drive growth and success.
                                    </p>
                                </div>
                            </div>
                            <br><br>

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="section-title">
                            <h2>Our Mission</h2>
                        </div>

                        <div>
                            <div class="col-lg-10 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
                                 data-aos-delay="100">
                                <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                                     data-aos-delay="100">
                                    <p class="fst-italic">
                                        To provide accurate, comprehensive, and timely research and survey
                                        services to our clients. We strive to deliver actionable insights that inform
                                        and empower our clients to make data-driven decisions that improve their
                                        businesses and the communities they serve. We are committed to upholding
                                        the highest standards of integrity, professionalism, and ethical conduct in
                                        all of our work.
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Services Section -->

        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="section-title">
                        <!-- <h2>Services</h2> -->
                        <h3>Our Services</h3>
                    </div>

                    <!-- <div class="image col-lg-6" style='background-image: url("assets/img/features.jpg");' data-aos="fade-right"></div> -->
                    <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                        <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bi-easel"></i>
                            <h4>Market Research</h4>
                            <p>
                                We conduct in-depth studies of
                                market trends, consumer behavior, and competitor
                                analysis to help clients make informed decisions
                                about their products and services.
                            </p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bi-bar-chart-fill"></i>
                            <h4>Public opinion polls</h4>
                            <p>
                                We conduct polls to gather
                                data on public opinion and attitudes towards
                                specific issues, policies, and candidates.
                            </p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bi-collection"></i>
                            <h4>Employee engagement surveys</h4>
                            <p>
                                We work with
                                organizations to measure employee satisfaction and
                                engagement, identify areas for improvement, and
                                develop strategies to improve workplace culture
                                and productivity.
                            </p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-shield"></i>
                            <h4>Data Analysis</h4>
                            <p>
                                We offer data analysis services to
                                help clients make sense of complex data sets and
                                turn data into actionable insights.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                        <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-receipt"></i>
                            <h4>Customer Satisfaction Surveys</h4>
                            <p>
                                We design and
                                implement surveys to gauge customer satisfaction
                                and identify areas for improvement in customer
                                service and product quality.
                            </p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bi-people"></i>
                            <h4>Focus Groups</h4>
                            <p>
                                We organize and facilitate focus
                                group sessions to gather qualitative data on consumer
                                opinions, preferences, and behaviors.
                            </p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bi-wifi"></i>
                            <h4>Online Surveys</h4>
                            <p>
                                We design and implement online
                                surveys to gather data from a large and diverse
                                audience quickly and efficiently.
                            </p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bi-activity"></i>
                            <h4>Customized Research</h4>
                            <p>
                                We work with clients to
                                design customized research studies to meet their
                                specific needs and objectives.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Features Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <!-- <h2>Services</h2> -->
                    <h3>Live Reports</h3>
                </div>

                <div class="row">

                    {% for key, report in reports.items %}
                        <div class="col-md-6 col-lg-4 mt-4" data-aos="zoom-in" data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bi-filetype-pdf"></i></div>
                                <h4><a href="{% static 'main_app/reports/' %}{{ report.filename }}"
                                       target="_blank">Download</a></h4>
                                <p>{{ key }}</p>
                                <p>{{ report.release_date }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Media</h2>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <iframe width="100%" height="200" class="embed-responsive-item rounded"
                                src="https://www.youtube.com/embed/iI5uBYMH4fs" allowfullscreen></iframe>
                    </div>
                </div>

            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact Us</h2>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Address:</h4>
                                <p>Akai Plaza, 3rd Flr, Suite No 8.</p>
                                <p>Roasters Stage, Off Thika Road.</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <div>
                                    <h4>Email</h4>
                                    <p>info@politrackafrica.com</p>
                                </div>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <div>
                                    <h4>Contact</h4>
                                    <p>+254 713 777 184</p>
                                    <p>+254 711 473 886</p>
                                    <p>+254 702 155 633</p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0">

                        <form action="{% static 'main_app/forms/contact.php' %}" method="post" role="form"
                              class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="Your Name"
                                           required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                       placeholder="Subject"
                                       required>
                            </div>
                            <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                      required></textarea>
                            </div>
                            <!-- <div class="my-3">
                              <div class="loading">Loading</div>
                              <div class="error-message"></div>
                              <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div> -->
                            <div class="text-center">
                                <button type="reset">Send Message</button>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

        <!-- ======= Cta Section ======= -->
        <!-- <section id="cta" class="cta">
          <div class="container" data-aos="zoom-in">

            <div class="text-center">
              <h3>Call To Action</h3>
              <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
              <a class="cta-btn" href="#">Call To Action</a>
            </div>

          </div>
        </section> -->
        <!-- End Cta Section -->

    </main><!-- End #main -->

{% endblock %}